  @import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
  
  .menu-toggle {
    display: none;
  }

  nav {
      position: absolute;
      top: 3%;
      left: 70%;
      background-color: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 10px 0;
    }

    nav a {
      font-family: "Playfair", serif;
      margin: 5px 15px;
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      transition: color 0.3s;
    }

    nav a:hover {
      text-decoration: underline;
      color: gray;
    }

    @media (min-width: 360px) and (max-width: 640px) {
        .menu-toggle {
          display: block;
          position: absolute;
          top: 2%;
          left: 0.8%;
          background: #1e8449;
          color: #fff;
          border: none;
          cursor: pointer;
          z-index: 1000;
          width: 55px;
          padding: 5px;
          border-radius: 10px;
        }

        .menu {
          display: none;
          position: absolute;
          top: 0%;
          left: 0%;
          background-color: #fff;
          width: 100%;
          box-shadow: 0 2px 5px rgba(0,0,0,0.2);
          transition: max-height 0.5s ease-in-out;
          overflow: hidden;
          max-height: 0;
        }

        .menu.open {
            display: flex;
            max-height: 500px;
            animation: slideDown 0.5s ease forwards;
        }

        .menu ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .menu li {
            padding: 10px;
            border-bottom: 1px solid #eee;
        }

        .menu a {
            text-decoration: none;
            color: #333;
        }

        .menu.closing {
            animation: slideUp 0.5s ease forwards;
        }


        nav {
            position: absolute;
            top: 0%;
            right: 0%;
            width: 70%;
            flex-direction: column;
            align-items: center;
        }

        nav a {
            text-align: center;
            margin-bottom: 20px;
            padding: 10px;
            border-bottom: 1px solid #0000003c;
            width: 90%;
        }
        
        nav a:hover {
            text-decoration: underline;
            color: #3E5641;
        }

        @keyframes slideDown {
            from {
                transform: translateY(-20px);
                opacity: 0;
            }
            to {
                transform: translateY(0);
                opacity: 1;
            }
            }

            @keyframes slideUp {
            from {
                transform: translateY(0);
                opacity: 1;
            }
            to {
                transform: translateY(-20px);
                opacity: 0;
            }
        }
    }