@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

#nav {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-8%, -10%);
  display: flex;
  gap: 5px;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: color 0.3s, transform 0.2s;
}

.nav-link:hover {
  color: gray;
  transform: scale(1.05);
}

.separator {
  color: #fff;
  user-select: none;
}

#logout-btn {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

#logout-btn:hover {
  background: #fff;
  color: #000;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  #nav {
    left: 67%;

    button {
      position: absolute;
      left: 185%;
    }
  }
}